.signUpForm {
	display: grid;
	grid-template-rows: 0.1fr 5fr;
	grid-template-columns: 1fr;
	margin: 100 px;
}
form {
	display: grid;
	grid-template-rows: 2fr 2fr;
	/* background: blue; */
	grid-template-columns: 1fr;
}

.titleFormField {
	grid-row-start: 1;
	background: blue;
}

.inspiredByFormField {
	grid-row-start: 2;
}

.ingridientsFormField {
	display: grid;
	background: blue;
	grid-row-start: 2;
	grid-template-columns: 0.5fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
	width: 80%;
	justify-items: center;
}
